<launch>

	
	<group ns="/">
	    <node pkg="controller" type="controll_node" name="controll_node" output="screen">
            <param name="use_sim_" value="false" type="bool"/>
			<param name="do_mission" value="true" type="bool"/>
			<param name="do_put_" value="true" type="bool"/>
			<param name="use_yaw" value="false" type="bool"/>
			<param name="detect_height" value="1.4" type="double"/>
			<param name="put_height" value="1.0" type="double"/>
			<param name="pnp_k" value="0.9" type="double"/>
			<param name="pnp_limit_" value="0.1" type="double"/>
			<param name="overtime_thre1" value="2" type="int"/>
			<param name="overtime_thre2" value="2" type="int"/>
			<param name="tent_id" value="5" type="int"/>
			<param name="land_id" value="3" type="int"/>


			<param name="target_point_num_" value="6" type="int"/>
			<param name="target_points_0_x" value="3.3" type="double"/>
			<param name="target_points_0_y" value="1.0" type="double"/>
			<param name="target_points_0_z" value="0.7" type="double"/>

			<param name="target_points_1_x" value="3.2" type="double"/>
			<param name="target_points_1_y" value="-0.15" type="double"/>
			<param name="target_points_1_z" value="0.5" type="double"/>

			<param name="target_points_2_x" value="3.3" type="double"/>
			<param name="target_points_2_y" value="-1.2" type="double"/>
			<param name="target_points_2_z" value="0.7" type="double"/>

			<param name="target_points_3_x" value="5.3" type="double"/>
			<param name="target_points_3_y" value="0.1" type="double"/>
			<param name="target_points_3_z" value="0.7" type="double"/>
			
			<param name="target_points_4_x" value="8.3" type="double"/>
			<param name="target_points_4_y" value="0.4" type="double"/>
			<param name="target_points_4_z" value="0.7" type="double"/>

			<param name="target_points_5_x" value="8.3" type="double"/>
			<param name="target_points_5_y" value="-2.4" type="double"/>
			<param name="target_points_5_z" value="0.7" type="double"/>

        </node>


	</group>

</launch>
