<launch>

	<include file = "$(find fast_lio)/launch/mapping_mid360.launch"/>

	<!-- <include file = "$(find ego_planner)/launch/single_run_in_exp_type1.launch"/> -->

	<group ns="iris_0">
	    <node pkg="controller" type="controll_node" name="controll_node" output="screen">
            <param name="use_sim_" value="false" type="bool"/>
			<param name="track_mode_" value="1" type="int"/><!--0  位置；  1  速度-->
			<param name="do_mission" value="false" type="bool"/>
			<param name="use_yaw" value="false" type="bool"/>


			<param name="target_point_num_" value="2" type="int"/>
			<param name="target_points_0_x" value="3.0" type="double"/>
			<param name="target_points_0_y" value="0.0" type="double"/>
			<param name="target_points_0_z" value="0.7" type="double"/>

			<param name="target_points_1_x" value="4.5" type="double"/>
			<param name="target_points_1_y" value="-2.0" type="double"/>
			<param name="target_points_1_z" value="0.7" type="double"/>

			<param name="target_points_2_x" value="5.2" type="double"/>
			<param name="target_points_2_y" value="-0.5" type="double"/>
			<param name="target_points_2_z" value="0.7" type="double"/>

			<param name="target_points_3_x" value="7.0" type="double"/>
			<param name="target_points_3_y" value="0.75" type="double"/>
			<param name="target_points_3_z" value="0.7" type="double"/>
			
			<param name="target_points_4_x" value="8.4" type="double"/>
			<param name="target_points_4_y" value="0.75" type="double"/>
			<param name="target_points_4_z" value="0.7" type="double"/>

        </node>


	</group>

</launch>
